adf/templates/FileEvent_JSON/FileEvent_JSON.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"adb_ls": {
			"type": "string"
		},
		"adls_ls": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FileEvent_JSON')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Create JSON file name",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "JSON_File_Name",
							"value": {
								"value": "@substring(pipeline().parameters.Source_File_Name,0,lastindexof(pipeline().parameters.Source_File_Name,'.'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Create CTL file name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Create JSON file name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "CTL_File_Name",
							"value": {
								"value": "@concat(substring(variables('JSON_File_Name'),0,lastindexof(variables('JSON_File_Name'),'.')),'.ctl')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Check if control file is present",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Create CTL file name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "CTL_File",
								"type": "DatasetReference",
								"parameters": {
									"Container_Name": {
										"value": "@pipeline().parameters.Container_Name",
										"type": "Expression"
									},
									"Ctl_File_Name": {
										"value": "@variables('CTL_File_Name')",
										"type": "Expression"
									},
									"Ctl_Directory_Name": {
										"value": "@pipeline().parameters.Inbound_Directory",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "error_mail_notification_pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Check if control file is present",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "error_mail_notification_pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": {
									"value": "@pipeline().parameters.Email_To",
									"type": "Expression"
								},
								"Activity": "Lookup Activity",
								"ErrorMessage": {
									"value": "@concat('Control File -',variables('CTL_File_Name'),' not received.')",
									"type": "Expression"
								},
								"Pipe_line_Name": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"Source_File_Name": {
									"value": "@pipeline().parameters.Source_File_Name",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Get record count from data file",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Create csv file name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ZippedJsonSrc",
								"type": "DatasetReference",
								"parameters": {
									"Container_Name": {
										"value": "@pipeline().parameters.Container_Name",
										"type": "Expression"
									},
									"Inbound_Directory": {
										"value": "@pipeline().parameters.Inbound_Directory",
										"type": "Expression"
									},
									"JSON_File_Name": {
										"value": "@pipeline().parameters.Source_File_Name",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set data count variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get record count from data file",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Data_Count",
							"value": {
								"value": "@string(activity('Get record count from data file').output.count)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set CTL count variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Check if control file is present",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Ctl_Count",
							"value": {
								"value": "@string(activity('Check if control file is present').output.firstrow.Prop_0)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Count Match between CTL and Data File",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set CTL count variable",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set data count variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('data_count'),variables('ctl_count'))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "mail notification for count mismatch",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "error_mail_notification_pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"EmailTo": {
												"value": "@pipeline().parameters.Email_To",
												"type": "Expression"
											},
											"Activity": "If Activity",
											"ErrorMessage": "Count mismatch between Data and Ctl file",
											"Pipe_line_Name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"Source_File_Name": {
												"value": "@pipeline().parameters.Source_File_Name",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy file from inbound to input",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['transaction']['transaction_id']"
													},
													"sink": {
														"name": "transaction_id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['transaction_type']"
													},
													"sink": {
														"name": "transaction_type",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['transaction_timestamp']"
													},
													"sink": {
														"name": "transaction_timestamp",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['cancellation_timestamp']"
													},
													"sink": {
														"name": "cancellation_timestamp",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['aadvantage_num']"
													},
													"sink": {
														"name": "aadvantage_num",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['offer_id']"
													},
													"sink": {
														"name": "offer_id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['purchase_emp_id']"
													},
													"sink": {
														"name": "purchase_emp_id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['cancellation_emp_id']"
													},
													"sink": {
														"name": "cancellation_emp_id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['tax']['gst']"
													},
													"sink": {
														"name": "gst",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['tax']['us1']"
													},
													"sink": {
														"name": "us1",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['payment_method']"
													},
													"sink": {
														"name": "payment_method",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['total_price']"
													},
													"sink": {
														"name": "total_price",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['total_price_in_miles']"
													},
													"sink": {
														"name": "total_price_in_miles",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['sales_receipt_num']"
													},
													"sink": {
														"name": "sales_receipt_num",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['transaction']['credit_card_info']['credit_card_type']"
													},
													"sink": {
														"name": "credit_card_type",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "ZippedJsonSrc",
											"type": "DatasetReference",
											"parameters": {
												"Container_Name": {
													"value": "@pipeline().parameters.Container_Name",
													"type": "Expression"
												},
												"Inbound_Directory": {
													"value": "@pipeline().parameters.Inbound_Directory",
													"type": "Expression"
												},
												"JSON_File_Name": {
													"value": "@pipeline().parameters.Source_File_Name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Unzipped_Input",
											"type": "DatasetReference",
											"parameters": {
												"Container_Name": {
													"value": "@pipeline().parameters.Container_Name",
													"type": "Expression"
												},
												"Input_Directory": {
													"value": "@pipeline().parameters.Input_Directory",
													"type": "Expression"
												},
												"File_Name": {
													"value": "@variables('CSV_File_Name')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete zipped data file from inbound",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Insert Update in target table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Zipped_Source",
											"type": "DatasetReference",
											"parameters": {
												"Container_name": {
													"value": "@pipeline().parameters.Container_Name",
													"type": "Expression"
												},
												"Inbound_Directory": {
													"value": "@pipeline().parameters.Inbound_Directory",
													"type": "Expression"
												},
												"File_Name": {
													"value": "@pipeline().parameters.Source_File_Name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Delete ctl file from inbound",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Insert Update in target table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Zipped_Source",
											"type": "DatasetReference",
											"parameters": {
												"Container_name": {
													"value": "@pipeline().parameters.Container_Name",
													"type": "Expression"
												},
												"Inbound_Directory": {
													"value": "@pipeline().parameters.Inbound_Directory",
													"type": "Expression"
												},
												"File_Name": {
													"value": "@variables('CTL_File_Name')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "File name and date check of previously loaded",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Copy file from inbound to input",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/sj186068/UseCase/FileNameCheck",
										"baseParameters": {
											"FileName": {
												"value": "@variables('CSV_File_Name')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('adb_ls')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "error mail notification pipeline for etlcontrol",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "File name and date check of previously loaded",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "error_mail_notification_pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"EmailTo": {
												"value": "@pipeline().parameters.Email_To",
												"type": "Expression"
											},
											"Activity": "Etlcontrol source's databricks notebook",
											"ErrorMessage": "Databricks notebook failed with error",
											"Pipe_line_Name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"Source_File_Name": {
												"value": "@pipeline().parameters.Source_File_Name",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "loading source in staging table",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "File name and date check of previously loaded",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/sj186068/UseCase/ld_source_stg",
										"baseParameters": {
											"CVS_File_Name": {
												"value": "@variables('CSV_File_Name')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "[parameters('adb_ls')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "error mail notification pipeline for staging table",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "loading source in staging table",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "error_mail_notification_pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"EmailTo": {
												"value": "@pipeline().parameters.Email_To",
												"type": "Expression"
											},
											"Activity": "Staging's databricks notebook",
											"ErrorMessage": "Databricks notebook failed with error",
											"Pipe_line_Name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"Source_File_Name": {
												"value": "@pipeline().parameters.Source_File_Name",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Insert Update in target table",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "loading source in staging table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/sj186068/UseCase/stg_to_tgt"
									},
									"linkedServiceName": {
										"referenceName": "[parameters('adb_ls')]",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "error mail notification pipeline for target table",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Insert Update in target table",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "error_mail_notification_pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"EmailTo": {
												"value": "@pipeline().parameters.Email_To",
												"type": "Expression"
											},
											"Activity": "Target's databricks notebook",
											"ErrorMessage": "Databricks notebook failed with error",
											"Pipe_line_Name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"Source_File_Name": {
												"value": "@pipeline().parameters.Source_File_Name",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "success_mail_notification_pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Insert Update in target table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "success_mail_notification_pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"EmailTo": {
												"value": "@pipeline().parameters.Email_To",
												"type": "Expression"
											},
											"Pipe_line_Name": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"Source_File_Name": {
												"value": "@pipeline().parameters.Source_File_Name",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Delete csv file generated in input",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Insert Update in target table",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Unzipped_Input",
											"type": "DatasetReference",
											"parameters": {
												"Container_Name": {
													"value": "@pipeline().parameters.Container_Name",
													"type": "Expression"
												},
												"Input_Directory": {
													"value": "@pipeline().parameters.Input_Directory",
													"type": "Expression"
												},
												"File_Name": {
													"value": "@variables('CSV_File_Name')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Delete csv file generated in input -copy",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "error mail notification pipeline for etlcontrol",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Unzipped_Input",
											"type": "DatasetReference",
											"parameters": {
												"Container_Name": {
													"value": "@pipeline().parameters.Container_Name",
													"type": "Expression"
												},
												"Input_Directory": {
													"value": "@pipeline().parameters.Input_Directory",
													"type": "Expression"
												},
												"File_Name": {
													"value": "@variables('CSV_File_Name')",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "Create csv file name",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Create JSON file name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "CSV_File_Name",
							"value": {
								"value": "@replace(variables('JSON_File_Name'),'.json','.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"Source_File_Name": {
						"type": "string",
						"defaultValue": "transaction_20201015.json.gz"
					},
					"Inbound_Directory": {
						"type": "string",
						"defaultValue": "inbound"
					},
					"Input_Directory": {
						"type": "string",
						"defaultValue": "input"
					},
					"Container_Name": {
						"type": "string",
						"defaultValue": "sj186068"
					},
					"Email_To": {
						"type": "string",
						"defaultValue": "sumit.jain@teradata.com"
					}
				},
				"variables": {
					"CSV_File_Name": {
						"type": "String"
					},
					"CTL_File_Name": {
						"type": "String"
					},
					"Data_Count": {
						"type": "String"
					},
					"Ctl_Count": {
						"type": "String"
					},
					"JSON_File_Name": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CTL_File')]",
				"[concat(variables('factoryId'), '/pipelines/error_mail_notification_pipeline')]",
				"[concat(variables('factoryId'), '/datasets/ZippedJsonSrc')]",
				"[concat(variables('factoryId'), '/datasets/Unzipped_Input')]",
				"[concat(variables('factoryId'), '/datasets/Zipped_Source')]",
				"[concat(variables('factoryId'), '/pipelines/success_mail_notification_pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CTL_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('adls_ls')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container_Name": {
						"type": "string"
					},
					"Ctl_File_Name": {
						"type": "string"
					},
					"Ctl_Directory_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Ctl_File_Name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Ctl_Directory_Name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Container_Name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/error_mail_notification_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send email on failure",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-48.eastus.logic.azure.com:443/workflows/27b0503ec47a4951aa8d0a747c7ccd25/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=b2-jmvnjIJK5gSU40VFp8FnBJs5Qh8VOg1fWGj43G7Y",
							"method": "POST",
							"headers": {
								"Content-type": "application/json"
							},
							"body": {
								"value": "@concat('{ \n\t\"EmailTo\" : \"',pipeline().parameters.EmailTo,'\", \n\t\"Subject\" : \"An error has occured in the ',pipeline().parameters.Pipe_line_Name,'-pipeline for file-',pipeline().parameters.Source_File_Name,'\",\n\t\"DataFactoryName\" : \"',pipeline().DataFactory,'\",\t\n\t\"PipelineName\" : \"',pipeline().parameters.Pipe_line_Name,'\", \n\t\"Activity\" : \"',pipeline().parameters.Activity,'\", \n\t\"ErrorMessage\" : \"',pipeline().parameters.ErrorMessage,'\",\n\t\"FileName\" : \"',pipeline().parameters.Source_File_Name,'\"\n\t}') ",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"EmailTo": {
						"type": "string"
					},
					"Activity": {
						"type": "string"
					},
					"ErrorMessage": {
						"type": "string"
					},
					"Pipe_line_Name": {
						"type": "string"
					},
					"Source_File_Name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Audit Control Framework Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-25T23:05:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ZippedJsonSrc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('adls_ls')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container_Name": {
						"type": "string"
					},
					"Inbound_Directory": {
						"type": "string"
					},
					"JSON_File_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().JSON_File_Name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Inbound_Directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Container_Name",
							"type": "Expression"
						}
					},
					"compression": {
						"type": "gzip"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"transaction": {
							"type": "object",
							"properties": {
								"transaction_id": {
									"type": "string"
								},
								"transaction_type": {
									"type": "string"
								},
								"transaction_timestamp": {
									"type": "string"
								},
								"cancellation_timestamp": {
									"type": "null"
								},
								"aadvantage_num": {
									"type": "string"
								},
								"offer_id": {
									"type": "string"
								},
								"purchase_emp_id": {
									"type": "string"
								},
								"cancellation_emp_id": {
									"type": "null"
								},
								"tax": {
									"type": "object",
									"properties": {
										"gst": {
											"type": "string"
										},
										"us1": {
											"type": "string"
										}
									}
								},
								"payment_method": {
									"type": "string"
								},
								"total_price": {
									"type": "string"
								},
								"total_price_in_miles": {
									"type": "null"
								},
								"sales_receipt_num": {
									"type": "string"
								},
								"credit_card_info": {
									"type": "object",
									"properties": {
										"credit_card_type": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Unzipped_Input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('adls_ls')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container_Name": {
						"type": "string"
					},
					"Input_Directory": {
						"type": "string"
					},
					"File_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File_Name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Input_Directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Container_Name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Zipped_Source')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('adls_ls')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container_name": {
						"type": "string"
					},
					"Inbound_Directory": {
						"type": "string"
					},
					"File_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File_Name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Inbound_Directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"compressionCodec": "gzip",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/success_mail_notification_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send email on success",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-20.eastus.logic.azure.com:443/workflows/144ac395e1c34d1cb5fd524e6e239575/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=o-2Wx_7w9CoOX5RTkJEZhaLrC8e5IsKBx0pOdX-lWV8",
							"method": "POST",
							"headers": {
								"Content-type": "application/json"
							},
							"body": {
								"value": "@concat('{ \n\t\"EmailTo\" : \"',pipeline().parameters.EmailTo,'\", \n\t\"Subject\" : \"Successful execution of ',pipeline().parameters.Pipe_line_Name,'-pipeline for file-',pipeline().parameters.Source_File_Name,'\",\n\t\"DataFactoryName\" : \"',pipeline().DataFactory,'\",\n\t\"PipelineName\" : \"',pipeline().parameters.Pipe_line_Name,'\",\n\t\"FileName\" : \"',pipeline().parameters.Source_File_Name,\t'\"\n\t}')\n",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"EmailTo": {
						"type": "string"
					},
					"Pipe_line_Name": {
						"type": "string"
					},
					"Source_File_Name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Audit Control Framework Pipelines"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-25T23:05:35Z"
			},
			"dependsOn": []
		}
	]
}