adf/pipeline/Airline-safety.json
{
	"name": "Airline-safety",
	"properties": {
		"description": "This pipeline check if complete files is received. If not then sends error email else triggers ADB notebook",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Airline_safety_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Record_count_of_file",
					"value": {
						"value": "string(@activity('Lookup1').output.count)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Record_count_of_file": {
				"type": "String"
			}
		},
		"annotations": []
	}
}