adf/pipeline/Ankur_demo.json
{
	"name": "Ankur_demo",
	"properties": {
		"description": "Demo",
		"activities": [
			{
				"name": "Demo Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/ankur.malhotra@qateradatacloud.com/AM186118/am186118_PS_stage"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute_failure",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Demo Notebook",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email_notify",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"Subject": {
							"value": "Demo PipeLine Status",
							"type": "Expression"
						},
						"EmailTo": {
							"value": "ankur.malhotra@teradata.com",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Message": {
							"value": "Demo PipeLine executed successfully",
							"type": "Expression"
						},
						"notification_app_lnk": {
							"value": "@activity('lookup1').output.firstRow.notification_app_lnk",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JsonEmail",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Execute_Success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Demo Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email_notify",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"Subject": {
							"value": "Demo pipeline Success",
							"type": "Expression"
						},
						"EmailTo": {
							"value": "ankur.malhotra@teradata.com",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Message": {
							"value": "Demo pipeline completed successfully.",
							"type": "Expression"
						},
						"notification_app_lnk": {
							"value": "@activity('Lookup1').output.firstRow.notification_app_lnk",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}