adf/pipeline/Azure_Demo_22_10.json
{
	"name": "Azure_Demo_22_10",
	"properties": {
		"activities": [
			{
				"name": "Lookup Read Json",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ss1862225_readJson_ds",
						"type": "DatasetReference",
						"parameters": {
							"json_path": "Config",
							"json_name": "config.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Read Json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Read Json').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ss186625_fileCheck",
									"type": "DatasetReference",
									"parameters": {
										"File_Path": "Input",
										"File_Name": {
											"value": "@concat(item().TableName,'.ctl.',formatDateTime(addToTime(utcnow(),item().CtlDate,'Day'),'yyyyMMdd'))",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata1').output.exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "ADB Notebook",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": "/ss186225/dev/consume_feed",
											"baseParameters": {
												"TableName": {
													"value": "@activity('Get Metadata1').output.itemName",
													"type": "Expression"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "adb_ls",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}