adf/pipeline/Bkp_mc186080_get_xchange_rate_rest_api.json
{
	"name": "Bkp_mc186080_get_xchange_rate_rest_api",
	"properties": {
		"activities": [
			{
				"name": "fetch_xchange_rates",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "get_xchange_rate_api",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "get_xchange_rate_json_ds",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "fetch_flight_sales_campaign_details",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "parameter_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "get_flight_sales_campaign",
						"type": "DatasetReference",
						"parameters": {
							"sourceContainer": {
								"value": "@activity('parameter_file').output.firstrow.sourceContainer",
								"type": "Expression"
							},
							"sourceDirectory": {
								"value": "@activity('parameter_file').output.firstrow.sourceDirectory",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@activity('parameter_file').output.firstrow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "mc186080_op_sales_ds",
						"type": "DatasetReference",
						"parameters": {
							"destContainer": {
								"value": "@activity('parameter_file').output.firstrow.destContainer",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('parameter_file').output.firstrow.destDirectory",
								"type": "Expression"
							},
							"destFileName": {
								"value": "@activity('parameter_file').output.firstrow.destFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mc186080_json_ds",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "join_xchange_data",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "fetch_xchange_rates",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "fetch_flight_sales_campaign_details",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "join_xchange_data",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			},
			{
				"name": "load_data_delta_lake",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "join_xchange_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/mc186080/mc186080_notebook"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "parameter_file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "mc186080_parameter_file_ds",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}