adf/pipeline/Copy_excel_file.json
{
	"name": "Copy_excel_file",
	"properties": {
		"activities": [
			{
				"name": "CSVs_INP_Copydata",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_csv_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DateTime",
									"type": "DateTime"
								},
								"sink": {
									"name": "DateTime",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "2019 7-day moving average",
									"type": "String"
								},
								"sink": {
									"name": "2019 7-day moving average",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "2019 Number of flights",
									"type": "String"
								},
								"sink": {
									"name": "2019 Number of flights",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SourceFile",
						"type": "DatasetReference",
						"parameters": {
							"File_Name": {
								"value": "@pipeline().parameters.File_Name",
								"type": "Expression"
							},
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.Inbound_Dir",
								"type": "Expression"
							},
							"Column_Delimeter": {
								"value": "@pipeline().parameters.Column_Delimeter",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Source_File_input",
						"type": "DatasetReference",
						"parameters": {
							"File_Name": {
								"value": "@pipeline().parameters.File_Name",
								"type": "Expression"
							},
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.Input_Dir",
								"type": "Expression"
							},
							"Column_Delimeter": {
								"value": "@pipeline().parameters.Column_Delimeter",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup_csv_file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Source_CSV_Files",
						"type": "DatasetReference",
						"parameters": {
							"File_Name": {
								"value": "@pipeline().parameters.File_Name",
								"type": "Expression"
							},
							"Contianer": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Column_Delimeter": {
								"value": "@pipeline().parameters.Column_Delimeter",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.Inbound_Dir",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Email_Fail_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup_csv_file",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-48.eastus.logic.azure.com:443/workflows/27b0503ec47a4951aa8d0a747c7ccd25/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=b2-jmvnjIJK5gSU40VFp8FnBJs5Qh8VOg1fWGj43G7Y",
					"method": "POST",
					"headers": {
						"Content-type": "application/json"
					},
					"body": {
						"value": "@concat('{\n\"EmailTo\" : \"',pipeline().parameters.EmailTo,'\",\n\"Subject\" : \"An error has occurred in the ',pipeline().Pipeline,'-pipeline for  file-',pipeline().parameters.File_Name,'\",\n \"DataFactoryName\" : \"',pipeline().DataFactory,'\",\n \"PipelineName\" : \"',pipeline().Pipeline,'\", \n \"Activity\" : \"',pipeline().parameters.Activity,'\",\n \"ErrorMessage\" : \"',pipeline().parameters.ErrorMessage,'\",\n \"FileName\" : \"',pipeline().parameters.File_Name,'\"\n  }')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/as186113/testing/csv_file_test",
					"baseParameters": {
						"File_Name": {
							"value": "@variables('File_Name')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CSVs_INP_Copydata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "File_Name",
					"value": {
						"value": "@pipeline().parameters.File_Name",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "achal.saxena@teradata.com"
			},
			"File_Name": {
				"type": "string"
			},
			"Activity": {
				"type": "string",
				"defaultValue": "Lookup"
			},
			"ErrorMessage": {
				"type": "string",
				"defaultValue": "File is not present"
			},
			"Container": {
				"type": "string",
				"defaultValue": "as186113"
			},
			"Input_Dir": {
				"type": "string"
			},
			"Column_Delimeter": {
				"type": "string",
				"defaultValue": ","
			},
			"Inbound_Dir": {
				"type": "string"
			},
			"Table_Name": {
				"type": "string"
			}
		},
		"variables": {
			"File_Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}