adf/pipeline/CSV_File.json
{
	"name": "CSV_File",
	"properties": {
		"activities": [
			{
				"name": "Extracting CSV file",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CSV_File_Name",
					"value": {
						"value": "@substring(pipeline().parameters.FILE_NAME,0,lastindexof(pipeline().parameters.FILE_NAME,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Extracting CTL file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Extracting CSV file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name",
					"value": {
						"value": "@concat(substring(variables('CSV_File_Name'),0,lastindexof(variables('CSV_File_Name'),'.')),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check CTL File if exists",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Extracting CTL file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CTL_File_Src",
						"type": "DatasetReference",
						"parameters": {
							"CTL_File_Name": {
								"value": "@variables('CTL_File_Name')",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"FILE_NAME": {
				"type": "string",
				"defaultValue": "abc.csv.gz"
			},
			"Container_Name": {
				"type": "string"
			},
			"Input_Directory": {
				"type": "string"
			},
			"Inbound_Directory": {
				"type": "string"
			}
		},
		"variables": {
			"CSV_File_Name": {
				"type": "String"
			},
			"CTL_File_Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}