adf/pipeline/CSV_File.json
{
	"name": "CSV_File",
	"properties": {
		"activities": [
			{
				"name": "Extracting CSV file",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CSV_File_Name",
					"value": {
						"value": "@substring(pipeline().parameters.File_Name,0,lastindexof(pipeline().parameters.File_Name,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Extracting CTL file",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Extracting CSV file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name",
					"value": {
						"value": "@concat(substring(variables('CSV_File_Name'),0,lastindexof(variables('CSV_File_Name'),'.')),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check CTL File if exists",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Extracting CTL file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CTL_File_Src",
						"type": "DatasetReference",
						"parameters": {
							"CTL_File_Name": {
								"value": "@variables('CTL_File_Name')",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Email_Fail_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Check CTL File if exists",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-03.eastus.logic.azure.com:443/workflows/a7b63c7c6bc8404e988f8e59f85eec3b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=U-sh46Sz2oePKsX8FuGSRUhD9Q_cs5AXvS2JfrSNBfc",
					"method": "POST",
					"headers": {
						"Content-type": "application/json"
					},
					"body": {
						"value": "@concat('{ \n\t\"EmailTo\" : \"',pipeline().parameters.EmailTo,'\", \n\t\"Subject\" : \"An error has occured in the ',pipeline().Pipeline,'-pipeline for file-',pipeline().parameters.File_Name,'\",\n\t\"DataFactoryName\" : \"',pipeline().DataFactory,'\",\t\n\t\"PipelineName\" : \"',pipeline().Pipeline,'\", \n\t\"Activity\" : \"',pipeline().parameters.Activity,'\", \n\t\"ErrorMessage\" : \"',pipeline().parameters.ErrorMessage,'\",\n\t\"FileName\" : \"',pipeline().parameters.File_Name,'\"\n\t}')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"File_Name": {
				"type": "string",
				"defaultValue": "Employee.csv.gz"
			},
			"EmailTo": {
				"type": "string",
				"defaultValue": "achal.saxena@teradata.com"
			},
			"Activity": {
				"type": "string",
				"defaultValue": "Lookup"
			},
			"ErrorMessage": {
				"type": "string",
				"defaultValue": "CTL File not received"
			},
			"Container_Name": {
				"type": "string",
				"defaultValue": "as186113"
			}
		},
		"variables": {
			"CSV_File_Name": {
				"type": "String"
			},
			"CTL_File_Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}