adf/pipeline/db250066_Training_20201013.json
{
	"name": "db250066_Training_20201013",
	"properties": {
		"activities": [
			{
				"name": "Create CTL file name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ctl_file_name",
					"value": {
						"value": "@concat(substring(pipeline().parameters.source_file_name,0,lastindexof(pipeline().parameters.source_file_name,'.')),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Create CTL file name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ControlFile",
						"type": "DatasetReference",
						"parameters": {
							"Control_File_Name": {
								"value": "@variables('ctl_file_name')",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Error mail notification for CTL file",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "error_mail_notification_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "deepak.biswal@teradata.com",
						"Activity": "Lookup Activity",
						"ErrorMessage": "CTL file is not received",
						"Pipe_line_Name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Source_File_Name": {
							"value": "@variables('ctl_file_name')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "db250066_Trigger_Notebook",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "db250066_Trigger_Notebook",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"source_file_name": {
				"type": "string",
				"defaultValue": "TrainingFile_20201013.csv"
			}
		},
		"variables": {
			"ctl_file_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}