adf/pipeline/DeltaFileCopy.json
{
	"name": "DeltaFileCopy",
	"properties": {
		"activities": [
			{
				"name": "SetRunTimestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunTimeStamp",
					"value": {
						"value": "@utcnow('yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set CTL File Pattern",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set DATA File Pattern",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTLFilePattern",
					"value": {
						"value": "@concat(pipeline().parameters.FilePattern,'*.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set DATA File Pattern",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataFilePattern",
					"value": "@concat(pipeline().parameters.FilePattern,'*.dat')"
				}
			},
			{
				"name": "GetCTLFileName",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set CTL File Pattern",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CTL_FilePattern_Lookup",
						"type": "DatasetReference",
						"parameters": {
							"CTLPattern": {
								"value": "@variables('CTLFilePattern')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetCTLFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetCTLFileName').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "setCTLFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CTLFileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetDataFileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "setCTLFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DataFileName",
								"value": {
									"value": "@concat(substring(variables('CTLFileName'),0,lastindexof(variables('CTLFileName'),'.')),'.dat')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CopyDataFile",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SetDataFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DataFileCopy",
									"type": "DatasetReference",
									"parameters": {
										"paramDataFile": {
											"value": "@variables('DataFileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "InputFile",
									"type": "DatasetReference",
									"parameters": {
										"tgtFileName": {
											"value": "@concat(substring(variables('CTLFileName'),0,lastindexof(variables('CTLFileName'),'.')),'.dat')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "Jayadeep.Patil@Teradata.com"
			},
			"FilePattern": {
				"type": "string",
				"defaultValue": "TEST_FILE"
			},
			"ProcName": {
				"type": "string",
				"defaultValue": "abc"
			}
		},
		"variables": {
			"CTLFileName": {
				"type": "String"
			},
			"DataFileName": {
				"type": "String"
			},
			"RunTimeStamp": {
				"type": "String"
			},
			"DataFilePattern": {
				"type": "String"
			},
			"CTLFilePattern": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Take2"
		},
		"annotations": []
	}
}