adf/pipeline/DeltaFileCopy.json
{
	"name": "DeltaFileCopy",
	"properties": {
		"activities": [
			{
				"name": "Set CTL File Pattern",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set DATA File Pattern",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTLFilePattern",
					"value": {
						"value": "@concat(pipeline().parameters.FilePattern,'*.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set DATA File Pattern",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataFilePattern",
					"value": "@concat(pipeline().parameters.FilePattern,'*.dat')"
				}
			},
			{
				"name": "GetCTLFileName",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set CTL File Pattern",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CTL_FilePattern_Lookup",
						"type": "DatasetReference",
						"parameters": {
							"CTLPattern": {
								"value": "@variables('CTLFilePattern')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetCTLFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetCTLFileName').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "setCTLFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "CTLFileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetDataFileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "setCTLFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DataFileName",
								"value": {
									"value": "@concat(substring(variables('CTLFileName'),0,lastindexof(variables('CTLFileName'),'.')),'.dat')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CopyDataFile",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Data file Lookup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DataFileCopy",
									"type": "DatasetReference",
									"parameters": {
										"paramDataFile": {
											"value": "@variables('DataFileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "InputFile",
									"type": "DatasetReference",
									"parameters": {
										"tgtFileName": {
											"value": "@concat(substring(variables('CTLFileName'),0,lastindexof(variables('CTLFileName'),'.')),'_',variables('RunTimeStamp'),'.dat')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "varTimestamp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "SetDataFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RunTimeStamp",
								"value": {
									"value": "@utcnow('yyyyMMddHHmmss')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Data file Lookup",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "varTimestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "DemoCTL_File",
									"type": "DatasetReference",
									"parameters": {
										"DataFileName": {
											"value": "@variables('DataFileName')",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "ErrorMailNotify",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Data file Lookup",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-03.eastus.logic.azure.com:443/workflows/a7b63c7c6bc8404e988f8e59f85eec3b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=U-sh46Sz2oePKsX8FuGSRUhD9Q_cs5AXvS2JfrSNBfc",
								"method": "POST",
								"headers": {
									"Content-type": "application/json"
								},
								"body": {
									"value": "@concat('{\n\t\"EmailTo\" : \"',pipeline().parameters.EmailTo,'\",\n\t\"Subject\" : \"An error has occured in the ',pipeline().Pipeline,'-pipeline for file -',pipeline().parameters.FilePattern,'\",\n\t\"DataFactoryName\" : \"',pipeline().DataFactory,'\",\n\t\"PipelineName\" : \"',pipeline().Pipeline,'\",\n\t\"Activity\" : \"',pipeline().parameters.Activity,'\",\n\t\"ErrorMessage\" : \"',pipeline().parameters.ErrorMessage,'\",\n\t\"FileName\" : \"',pipeline().parameters.FilePattern,'\"\n\t}')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "DeleteInbound",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "CopyDataFile",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "InboundCleanUP",
									"type": "DatasetReference",
									"parameters": {
										"DeleteFilePattern": {
											"value": "@concat(substring(variables('DataFileName'),0,lastindexof(variables('DataFileName'),'.')),'*')",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "adls_ls",
										"type": "LinkedServiceReference"
									},
									"path": "jp186004/log"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "Jayadeep.Patil@Teradata.com"
			},
			"FilePattern": {
				"type": "string",
				"defaultValue": "TEST_FILE"
			},
			"ProcName": {
				"type": "string",
				"defaultValue": "abc"
			},
			"Activity": {
				"type": "string",
				"defaultValue": "Lookup"
			},
			"ErrorMessage": {
				"type": "string",
				"defaultValue": "File Not Arrived"
			}
		},
		"variables": {
			"CTLFileName": {
				"type": "String"
			},
			"DataFileName": {
				"type": "String"
			},
			"RunTimeStamp": {
				"type": "String"
			},
			"DataFilePattern": {
				"type": "String"
			},
			"CTLFilePattern": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Take2"
		},
		"annotations": []
	}
}