adf/pipeline/DeltaFileCopy.json
{
	"name": "DeltaFileCopy",
	"properties": {
		"activities": [
			{
				"name": "SetRunTimestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunTimeStamp",
					"value": {
						"value": "@utcnow('yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set CTL File Pattern",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set DATA File Pattern",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTLFilePattern",
					"value": {
						"value": "@concat(pipeline().parameters.FilePattern,'*.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set DATA File Pattern",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataFilePattern",
					"value": "@concat(pipeline().parameters.FilePattern,'*.dat')"
				}
			},
			{
				"name": "GetCTLFileName",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set CTL File Pattern",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CTL_FilePattern_Lookup",
						"type": "DatasetReference",
						"parameters": {
							"CTLPattern": {
								"value": "@variables('CTLFilePattern')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "SetCTLFileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetCTLFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTLFileName",
					"value": {
						"value": "@activity('GetCTLFileName').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetDataFileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetCTLFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataFileName",
					"value": {
						"value": "@concat(substring(variables('CTLFileName'),0,lastindexof(variables('CTLFileName'),'.')),'.dat')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string",
				"defaultValue": "Jayadeep.Patil@Teradata.com"
			},
			"FilePattern": {
				"type": "string",
				"defaultValue": "TEST_FILE"
			},
			"ProcName": {
				"type": "string",
				"defaultValue": "abc"
			}
		},
		"variables": {
			"CTLFileName": {
				"type": "String"
			},
			"DataFileName": {
				"type": "String"
			},
			"RunTimeStamp": {
				"type": "String"
			},
			"DataFilePattern": {
				"type": "String"
			},
			"CTLFilePattern": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Take2"
		},
		"annotations": []
	}
}