adf/pipeline/Demo_Pipeline.json
{
	"name": "Demo_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Extract_file_name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Source_File_Name",
					"value": {
						"value": "@substring(pipeline().parameters.File_Name,0,lastindexof(pipeline().parameters.File_Name,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Extract_Control_file_Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Extract_file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Ctl_File_Name",
					"value": {
						"value": "@concat(substring(variables('Source_File_Name'),0,lastindexof(variables('Source_File_Name'),'.')),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check For Control File",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Extract_Control_file_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference",
						"parameters": {
							"Ctl_File_Name": {
								"value": "@variables('Ctl_File_Name')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"File_Name": {
				"type": "string",
				"defaultValue": "FilePart1.csv.gz"
			},
			"Container_Name": {
				"type": "string"
			},
			"Input_Dir": {
				"type": "string"
			},
			"Inbound_Dir": {
				"type": "string"
			}
		},
		"variables": {
			"Source_File_Name": {
				"type": "String"
			},
			"Ctl_File_Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}