adf/pipeline/Demo_15102020.json
{
	"name": "Demo_15102020",
	"properties": {
		"activities": [
			{
				"name": "Create CTL file name Part1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name_Part1",
					"value": {
						"value": "@substring(pipeline().parameters.Source_File_Name,0,lastindexof(pipeline().parameters.Source_File_Name,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Create CTL file name Part2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Create CTL file name Part1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name_Part2",
					"value": {
						"value": "@concat(substring(variables('CTL_File_Name_Part1'),0,lastindexof(variables('CTL_File_Name_Part1'),'.')),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check if control file is present",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Create CTL file name Part2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CTL_File",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"Ctl_File_Name": {
								"value": "@variables('CTL_File_Name_Part2')",
								"type": "Expression"
							},
							"Ctl_Directory_Name": {
								"value": "@pipeline().parameters.Inbound_Directory",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "error_mail_notification_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Check if control file is present",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "error_mail_notification_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "sumit.jain@teradata.com",
						"Activity": "Lookup Activity",
						"ErrorMessage": {
							"value": "@concat('Control File -',variables('CTL_File_Name_Part2'),' not received.')",
							"type": "Expression"
						},
						"Pipe_line_Name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Source_File_Name": {
							"value": "@pipeline().parameters.Source_File_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get record count from data file",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Zipped_Source",
						"type": "DatasetReference",
						"parameters": {
							"Container_name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"Inbound_Directory": {
								"value": "@pipeline().parameters.Inbound_Directory",
								"type": "Expression"
							},
							"File_Name": {
								"value": "@pipeline().parameters.Source_File_Name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set data count variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get record count from data file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Data_Count",
					"value": {
						"value": "@string(activity('Get record count from data file').output.count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set CTL count variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Check if control file is present",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Ctl_Count",
					"value": {
						"value": "@string(activity('Check if control file is present').output.firstrow.Prop_0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Count Match between CTL and Data File",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set CTL count variable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set data count variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('data_count'),variables('ctl_count'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "mail notification for count mismatch",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "error_mail_notification_pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "sumit.jain@teradata.com",
									"Activity": "If Activity",
									"ErrorMessage": "Count mismatch between Data and Ctl file",
									"Pipe_line_Name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"Source_File_Name": {
										"value": "@pipeline().parameters.Source_File_Name",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy file from inbound to input_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Zipped_Source",
									"type": "DatasetReference",
									"parameters": {
										"Container_name": {
											"value": "@pipeline().parameters.Container_Name",
											"type": "Expression"
										},
										"Inbound_Directory": {
											"value": "@pipeline().parameters.Inbound_Directory",
											"type": "Expression"
										},
										"File_Name": {
											"value": "@pipeline().parameters.Source_File_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Zipped_Input",
									"type": "DatasetReference",
									"parameters": {
										"Container_Name": {
											"value": "@pipeline().parameters.Container_Name",
											"type": "Expression"
										},
										"Input_Directory": {
											"value": "@pipeline().parameters.Input_Directory",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete data file from inbound_copy1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy file from inbound to input_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Zipped_Source",
									"type": "DatasetReference",
									"parameters": {
										"Container_name": {
											"value": "@pipeline().parameters.Container_Name",
											"type": "Expression"
										},
										"Inbound_Directory": {
											"value": "@pipeline().parameters.Inbound_Directory",
											"type": "Expression"
										},
										"File_Name": {
											"value": "@pipeline().parameters.Source_File_Name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "Delete ctl file from inbound_copy1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy file from inbound to input_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Zipped_Source",
									"type": "DatasetReference",
									"parameters": {
										"Container_name": {
											"value": "@pipeline().parameters.Container_Name",
											"type": "Expression"
										},
										"Inbound_Directory": {
											"value": "@pipeline().parameters.Inbound_Directory",
											"type": "Expression"
										},
										"File_Name": {
											"value": "@variables('CTL_File_Name_Part2')",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Source_File_Name": {
				"type": "string",
				"defaultValue": "TrainingFile_20201014.csv.gz"
			},
			"Inbound_Directory": {
				"type": "string",
				"defaultValue": "inbound"
			},
			"Input_Directory": {
				"type": "string",
				"defaultValue": "input"
			},
			"Container_Name": {
				"type": "string",
				"defaultValue": "sj186068"
			}
		},
		"variables": {
			"CTL_File_Name_Part1": {
				"type": "String"
			},
			"CTL_File_Name_Part2": {
				"type": "String"
			},
			"Data_Count": {
				"type": "String"
			},
			"Ctl_Count": {
				"type": "String"
			}
		},
		"annotations": []
	}
}