adf/pipeline/Demo_15102020.json
{
	"name": "Demo_15102020",
	"properties": {
		"activities": [
			{
				"name": "Copy file from inbound to input",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Check if control file is present",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Zipped_Source",
						"type": "DatasetReference",
						"parameters": {
							"Container_name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"Inbound_Directory": {
								"value": "@pipeline().parameters.Inbound_Directory",
								"type": "Expression"
							},
							"File_Name": {
								"value": "@pipeline().parameters.Source_File_Name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Zipped_Input",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"Input_Directory": {
								"value": "@pipeline().parameters.Input_Directory",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Create CTL file name Part1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name_Part1",
					"value": {
						"value": "@substring(pipeline().parameters.Source_File_Name,0,lastindexof(pipeline().parameters.Source_File_Name,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Create CTL file name Part2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Create CTL file name Part1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name_Part2",
					"value": {
						"value": "@concat(substring(variables('CTL_File_Name_Part1'),0,lastindexof(variables('CTL_File_Name_Part1'),'.')),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check if control file is present",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Create CTL file name Part2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CTL_File",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"Ctl_File_Name": {
								"value": "@variables('CTL_File_Name_Part2')",
								"type": "Expression"
							},
							"Ctl_Directory_Name": {
								"value": "@pipeline().parameters.Inbound_Directory",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"Source_File_Name": {
				"type": "string",
				"defaultValue": "TrainingFile_20201014.csv.gz"
			},
			"Inbound_Directory": {
				"type": "string",
				"defaultValue": "inbound"
			},
			"Input_Directory": {
				"type": "string",
				"defaultValue": "input"
			},
			"Container_Name": {
				"type": "string",
				"defaultValue": "sj186068"
			}
		},
		"variables": {
			"CTL_File_Name_Part1": {
				"type": "String"
			},
			"CTL_File_Name_Part2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}