adf/pipeline/Demo_Pipeline.json
{
	"name": "Demo_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Extract_file_name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Source_File_Name",
					"value": {
						"value": "@substring(pipeline().parameters.File_Name,0,lastindexof(pipeline().parameters.File_Name,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Extract_Control_file_Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Extract_file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Ctl_File_Name",
					"value": {
						"value": "@concat(substring(variables('Source_File_Name'),0,lastindexof(variables('Source_File_Name'),'.')),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check For Control File",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Extract_Control_file_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText2",
						"type": "DatasetReference",
						"parameters": {
							"Ctl_File_Name": {
								"value": "@variables('Ctl_File_Name')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Funnel Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Check For Control File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.Input_Dir",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@concat(substring(variables('Source_File_Name'),0,lastindexof(variables('Source_File_Name'),'.')),'_*.csv')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText3",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText4",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Data in Table",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Funnel Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/nj186007/FiletoTable"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Email Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Check For Control File",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-03.eastus.logic.azure.com:443/workflows/a7b63c7c6bc8404e988f8e59f85eec3b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=U-sh46Sz2oePKsX8FuGSRUhD9Q_cs5AXvS2JfrSNBfc",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "@concat('{\n\"EmailTo\":\"',pipeline().parameters.EmailTo,'\",\n\"Subject\":\"An error has occure in pipeline - ',pipeline().Pipeline,' for file-',pipeline().parameters.File_Name,'\",\n\"DataFactoryName\":\"',pipeline().DataFactory,'\",\n\"PipelineName\":\"',pipeline().Pipeline,'\",\n\"Activity\":\"',pipeline().parameters.Activity,'\",\n\"ErrorMessage\":\"',pipeline().parameters.ErrorMessage,'\",\n\"FileName\":\"',pipeline().parameters.File_Name,'\"\n}')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"File_Name": {
				"type": "string",
				"defaultValue": "OFRFile.csv.gz"
			},
			"Container_Name": {
				"type": "string"
			},
			"Input_Dir": {
				"type": "string",
				"defaultValue": "input"
			},
			"Inbound_Dir": {
				"type": "string"
			},
			"EmailTo": {
				"type": "string",
				"defaultValue": "neha.jai@teradata.com"
			},
			"Activity": {
				"type": "string",
				"defaultValue": "LookUp"
			},
			"ErrorMessage": {
				"type": "string",
				"defaultValue": "File not received"
			}
		},
		"variables": {
			"Source_File_Name": {
				"type": "String"
			},
			"Ctl_File_Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}