adf/pipeline/Demo_15102020.json
{
	"name": "Demo_15102020",
	"properties": {
		"activities": [
			{
				"name": "Create csv file name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CSV_File_Name",
					"value": {
						"value": "@substring(pipeline().parameters.Source_File_Name,0,lastindexof(pipeline().parameters.Source_File_Name,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Create CTL file name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Create csv file name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name",
					"value": {
						"value": "@concat(substring(variables('CSV_File_Name'),0,lastindexof(variables('CSV_File_Name'),'.')),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Check if control file is present",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Create CTL file name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CTL_File",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"Ctl_File_Name": {
								"value": "@variables('CTL_File_Name')",
								"type": "Expression"
							},
							"Ctl_Directory_Name": {
								"value": "@pipeline().parameters.Inbound_Directory",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "error_mail_notification_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Check if control file is present",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "error_mail_notification_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "sumit.jain@teradata.com",
						"Activity": "Lookup Activity",
						"ErrorMessage": {
							"value": "@concat('Control File -',variables('CTL_File_Name'),' not received.')",
							"type": "Expression"
						},
						"Pipe_line_Name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Source_File_Name": {
							"value": "@pipeline().parameters.Source_File_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy file from inbound to input_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Check if control file is present",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Zipped_Source",
						"type": "DatasetReference",
						"parameters": {
							"Container_name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"Inbound_Directory": {
								"value": "@pipeline().parameters.Inbound_Directory",
								"type": "Expression"
							},
							"File_Name": {
								"value": "@pipeline().parameters.Source_File_Name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Unzipped_Input",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"Input_Directory": {
								"value": "@pipeline().parameters.Input_Directory",
								"type": "Expression"
							},
							"File_Name": {
								"value": "@variables('CSV_File_Name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Load file in staging table_copy1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy file from inbound to input_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/sj186068/fileToTable"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Source_File_Name": {
				"type": "string",
				"defaultValue": "Employee_20200809.csv.gz"
			},
			"Inbound_Directory": {
				"type": "string",
				"defaultValue": "inbound"
			},
			"Input_Directory": {
				"type": "string",
				"defaultValue": "input"
			},
			"Container_Name": {
				"type": "string",
				"defaultValue": "sj186068"
			}
		},
		"variables": {
			"CSV_File_Name": {
				"type": "String"
			},
			"CTL_File_Name": {
				"type": "String"
			},
			"Data_Count": {
				"type": "String"
			},
			"Ctl_Count": {
				"type": "String"
			}
		},
		"annotations": []
	}
}