adf/pipeline/ETLControl_Start_1.json
{
	"name": "ETLControl_Start_1",
	"properties": {
		"description": "Read the File from Inbound & Verify Zero Byte Check",
		"activities": [
			{
				"name": "Get File Details",
				"description": "Read the File Details from the Inbound Directory",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "InboundFile",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"Folder_Name": {
								"value": "@pipeline().parameters.Folder_Name",
								"type": "Expression"
							},
							"File_Name": {
								"value": "@pipeline().parameters.File_Name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Check_FileSize",
				"description": "Check the File Size for the files received in inbound directory",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get File Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "File_Size",
					"value": {
						"value": "@string(activity('Get File Details').output.size)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ZeroByte_File_Check_Validation",
				"description": "Verify If Zero Byte File Received then Send Email Notification to team Else Move the File to Input Directory",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check_FileSize",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('File_Size'),'0')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send_Email",
							"description": "If Zero Byte Check False then Send Email",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Email_Notification",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": {
										"value": "@pipeline().parameters.EmailTo",
										"type": "Expression"
									},
									"Pipe_Line_Name": {
										"value": "@pipeline().parameters.Pipe_Line_Name",
										"type": "Expression"
									},
									"Source_File_Name": {
										"value": "@pipeline().parameters.Source_File_Name",
										"type": "Expression"
									},
									"Activity": {
										"value": "@pipeline().parameters.Activity",
										"type": "Expression"
									},
									"Error_Message": {
										"value": "@pipeline().parameters.Error_Message",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "If Zero Byte Check True",
							"description": "If Zero Byte Validation True Then Execute",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ETLControl_Start_2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"File_Name": {
										"value": "@pipeline().parameters.File_Name",
										"type": "Expression"
									},
									"Folder_Name": {
										"value": "@pipeline().parameters.Folder_Name",
										"type": "Expression"
									},
									"Container_Name": {
										"value": "@pipeline().parameters.Container_Name",
										"type": "Expression"
									},
									"Reject_Folder": {
										"value": "@pipeline().parameters.Reject_Folder",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Container_Name": {
				"type": "String"
			},
			"Folder_Name": {
				"type": "String"
			},
			"File_Name": {
				"type": "String"
			},
			"Reject_Folder": {
				"type": "String"
			},
			"EmailTo": {
				"type": "String"
			},
			"Pipe_Line_Name": {
				"type": "String"
			},
			"Source_File_Name": {
				"type": "String"
			},
			"Activity": {
				"type": "String"
			},
			"Error_Message": {
				"type": "String"
			}
		},
		"variables": {
			"File_Size": {
				"type": "String"
			}
		},
		"annotations": []
	}
}