adf/pipeline/FileMetadataValiadation.json
{
	"name": "FileMetadataValiadation",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "vSrcDirectory",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Src_Json",
						"type": "DatasetReference",
						"parameters": {
							"sourceContainer": {
								"value": "@variables('sourceContainer')",
								"type": "Expression"
							},
							"sourceDirectory": {
								"value": "@variables('sourceDirectory')",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@variables('sourceFileName')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "GetParameterFromFIle",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Param",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "vSrcContainer",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetParameterFromFIle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourceContainer",
					"value": {
						"value": "@activity('GetParameterFromFIle').output.firstRow.sourceContainer",
						"type": "Expression"
					}
				}
			},
			{
				"name": "vSrcDirectory",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetParameterFromFIle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourceDirectory",
					"value": {
						"value": "@activity('GetParameterFromFIle').output.firstRowvariables('sourceDirectory')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "vSrcFileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetParameterFromFIle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourceFileName",
					"value": {
						"value": "@activity('GetParameterFromFIle').output.firstRowvariables('sourceFileName')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "csvFileNm",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetParameterFromFIle",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "vSrcFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "csvFileNm",
					"value": {
						"value": "@replace(variables('sourceFileName'),'.json','.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "vSrcFileSize",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileSize",
					"value": {
						"value": "@string(activity('Get Metadata').output.size)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"variables": {
			"sourceContainer": {
				"type": "String"
			},
			"sourceDirectory": {
				"type": "String"
			},
			"sourceFileName": {
				"type": "String"
			},
			"csvFileNm": {
				"type": "String"
			},
			"fileSize": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Demo"
		},
		"annotations": []
	}
}