adf/pipeline/File_Validation.json
{
	"name": "File_Validation",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "inbound",
						"type": "DatasetReference",
						"parameters": {
							"Container_Name": {
								"value": "@pipeline().parameters.Container_Name",
								"type": "Expression"
							},
							"Folder_Name": {
								"value": "@pipeline().parameters.Inbound_Folder",
								"type": "Expression"
							},
							"File_Name": {
								"value": "@pipeline().parameters.Source_File_Name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "File_Size",
					"value": {
						"value": "@string(activity('Get Metadata1').output.Size)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Container_Name": {
				"type": "string",
				"defaultValue": "dc186053"
			},
			"Inbound_Folder": {
				"type": "string",
				"defaultValue": "inbound"
			},
			"Reject_Folder": {
				"type": "string",
				"defaultValue": "reject"
			},
			"Source_File_Name": {
				"type": "string",
				"defaultValue": "employee.txt"
			},
			"Input_Folder": {
				"type": "string",
				"defaultValue": "input"
			}
		},
		"variables": {
			"File_Size": {
				"type": "String"
			}
		},
		"annotations": []
	}
}