adf/pipeline/hg250013_parameter_demo.json
{
	"name": "hg250013_parameter_demo",
	"properties": {
		"activities": [
			{
				"name": "getParameterFromConfigFolder",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "hg250013_parameter_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getParameterFromConfigFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "hg250013_flat_file_source_ds_for_parameter_demo",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@activity('getParameterFromConfigFolder').output.firstRow.sourceContainer",
								"type": "Expression"
							},
							"directoryName": {
								"value": "@activity('getParameterFromConfigFolder').output.firstRow.sourceDirectory",
								"type": "Expression"
							},
							"fileName": {
								"value": "@activity('getParameterFromConfigFolder').output.firstRow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "hg250013_flat_par_sink1_ds_for_parameter_demo",
						"type": "DatasetReference",
						"parameters": {
							"destContainer": {
								"value": "@activity('getParameterFromConfigFolder').output.firstRow.destContainer",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('getParameterFromConfigFolder').output.firstRow.destDirectory",
								"type": "Expression"
							},
							"destFileName": {
								"value": "@activity('getParameterFromConfigFolder').output.firstRow.destFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "hg250013_flat_file_source_ds",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Lookup_parameter",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Hg250013_Parameter_json_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Hg250013_parameter_source_ds",
						"type": "DatasetReference",
						"parameters": {
							"sourceDirectory": {
								"value": "@activity('Lookup_parameter').output.firstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceContainer": {
								"value": "@activity('Lookup_parameter').output.firstRow.sourceContainer",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@activity('Lookup_parameter').output.firstRow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "hg250013_parameter_sink_ds",
						"type": "DatasetReference",
						"parameters": {
							"destFileName": {
								"value": "@activity('Lookup_parameter').output.firstRow.destFileName",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('Lookup_parameter').output.firstRow.destDirectory",
								"type": "Expression"
							},
							"destContainer": {
								"value": "@activity('Lookup_parameter').output.firstRow.destContainer",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": []
	}
}