adf/pipeline/jj186041_copy_using_parameter_file.json
{
	"name": "jj186041_copy_using_parameter_file",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"outputs": [
					{
						"referenceName": "jj186041_copy_output_param_ds",
						"type": "DatasetReference",
						"parameters": {
							"destFileName": {
								"value": "@activity('Lookup1').output.firstRow.destFileName",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('Lookup1').output.firstRow.destDirectory",
								"type": "Expression"
							},
							"destContainer": {
								"value": "@activity('Lookup1').output.firstRow.destContainer",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "jj186041_config_json_ds",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}