adf/pipeline/jp186004_parameter_demo.json
{
	"name": "jp186004_parameter_demo",
	"properties": {
		"activities": [
			{
				"name": "fetch_parameter",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "fetch_parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference",
						"parameters": {
							"sourceFileName": {
								"value": "@activity('fetch_parameter').output.FirstRow,sourceFileName",
								"type": "Expression"
							},
							"sourceDirectory": {
								"value": "@activity('fetch_parameter').output.firstrow.sourceDirectory",
								"type": "Expression"
							},
							"sourceContainer": {
								"value": "@activity('fetch_parameter').output.firstRow.sourceContainer",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference",
						"parameters": {
							"destFileName": {
								"value": "@activity('fetch_parameter').output.firstRow.destFileName",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('fetch_parameter').output.firstRow.destDirectory",
								"type": "Expression"
							},
							"destContainer": {
								"value": "@activity('fetch_parameter').output.FirstRow.destContainer",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": []
	}
}