adf/pipeline/MS186104_File_Archive.json
{
	"name": "MS186104_File_Archive",
	"properties": {
		"activities": [
			{
				"name": "GetFileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "",
						"value": ""
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "Aircraft_Flown_Data_Inp",
						"type": "DatasetReference"
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"ifTrueActivities": [
						{
							"name": "CopyDataToArc",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "Inbound",
										"wildcardFileName": {
											"value": "@activity('GetFileList').output*.zip",
											"type": "Expression"
										}
									},
									"formatSettings": {
										"type": "JsonReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings"
										}
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Aircraft_Flown_Src",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Aircraft_Flown_Data_Inb",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "DeleteDataFromInb",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "CopyDataToArc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Aircraft_Flown_Data_Inb",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "adls_ls",
										"type": "LinkedServiceReference"
									},
									"path": "ms186104/Archive"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{activity('GetFileList').output*.zip}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FilesList": {
				"type": "string",
				"defaultValue": "Aircraft_Flown"
			}
		},
		"folder": {
			"name": "MS186104"
		},
		"annotations": []
	}
}