adf/pipeline/my186015_adf_parameter_demo1.json
{
	"name": "my186015_adf_parameter_demo1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "my186015_parameter_config",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "my186015_csv_param_source_demo_ds",
						"type": "DatasetReference",
						"parameters": {
							"sourcecontainer": {
								"value": "@activity('Lookup1').output.FirstRow.sourceContainer",
								"type": "Expression"
							},
							"sourcedirect": {
								"value": "@activity('Lookup1').output.FirstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourcefile": {
								"value": "@activity('Lookup1').output.FirstRow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": []
	}
}