adf/pipeline/OnPrem_To_AzureADLS.json
{
	"name": "OnPrem_To_AzureADLS",
	"properties": {
		"activities": [
			{
				"name": "Lkp_Source_Objects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 0
						}
					},
					"dataset": {
						"referenceName": "Lkp_Source_Objects",
						"type": "DatasetReference",
						"parameters": {
							"Lkp_Src_File": {
								"value": "@pipeline().parameters.ppLkp_Src_File",
								"type": "Expression"
							},
							"Lkp_Src_Container": {
								"value": "@pipeline().parameters.ppSrc_Container",
								"type": "Expression"
							},
							"Lkp_Src_Folder": {
								"value": "@pipeline().parameters.ppSrc_Dir",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Source",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp_Source_Objects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp_Source_Objects').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Cpy_OnPrem_To_ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Source_Object",
									"type": "DatasetReference",
									"parameters": {
										"Src_Object": {
											"value": "@concat(toUpper(item().Table_name),'.csv')",
											"type": "Expression"
										},
										"Src_Container": {
											"value": "@pipeline().parameters.ppSrc_Container",
											"type": "Expression"
										},
										"Src_Dir": {
											"value": "@pipeline().parameters.ppSrc_Dir",
											"type": "Expression"
										},
										"Src_Stg_Dir": {
											"value": "@item().Schema_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Target_Object",
									"type": "DatasetReference",
									"parameters": {
										"Tgt_Object": {
											"value": "@item().Table_Name",
											"type": "Expression"
										},
										"Tgt_Dir": {
											"value": "@pipeline().parameters.ppTgt_Dir",
											"type": "Expression"
										},
										"Tgt_Container": {
											"value": "@pipeline().parameters.ppSrc_Container",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Cpy_OnPrem_To_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Output_Var",
								"value": {
									"value": "@concat(pipeline().Pipeline,'|',item().Schema_Name,'|',item().Table_Name,'|',activity('Cpy_OnPrem_To_ADLS').output.dataRead,'|',activity('Cpy_OnPrem_To_ADLS').output.dataWritten,'|',activity('Cpy_OnPrem_To_ADLS').output.throughput,'|',activity('Cpy_OnPrem_To_ADLS').output.copyDuration,'|',activity('Cpy_OnPrem_To_ADLS').output.errors)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/rp186048/rp186048_demo",
								"baseParameters": {
									"Input_Row": {
										"value": "@variables('Output_Var')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "adb_ls",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ppSrc_Container": {
				"type": "string",
				"defaultValue": "rp186048/"
			},
			"ppSrc_Dir": {
				"type": "string",
				"defaultValue": "Input/"
			},
			"ppLkp_Src_File": {
				"type": "string",
				"defaultValue": "Source_Objects.csv"
			},
			"ppTgt_Dir": {
				"type": "string",
				"defaultValue": "Output/"
			}
		},
		"variables": {
			"Output_Var": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Demo"
		},
		"annotations": []
	}
}