adf/pipeline/OnPrem_To_AzureADLS.json
{
	"name": "OnPrem_To_AzureADLS",
	"properties": {
		"activities": [
			{
				"name": "Lkp_Source_Objects",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Lkp_Source_Objects",
						"type": "DatasetReference",
						"parameters": {
							"Lkp_Src_File": {
								"value": "@pipeline().parameters.ppLkp_Src_File",
								"type": "Expression"
							},
							"Lkp_Src_Container": {
								"value": "@pipeline().parameters.ppSrc_Container",
								"type": "Expression"
							},
							"Lkp_Src_Folder": {
								"value": "@pipeline().parameters.ppSrc_Dir",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Source",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp_Source_Objects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp_Source_Objects').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ppSrc_Container": {
				"type": "string",
				"defaultValue": "rp186048/"
			},
			"ppSrc_Dir": {
				"type": "string",
				"defaultValue": "Input/"
			},
			"ppLkp_Src_File": {
				"type": "string",
				"defaultValue": "Source_Objects.csv"
			}
		},
		"folder": {
			"name": "Demo"
		},
		"annotations": []
	}
}