adf/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Lookup_parameter",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "sb186002_json_param",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Sourcedataset",
						"type": "DatasetReference",
						"parameters": {
							"sourceContainer": {
								"value": "@activity('Lookup_parameter').output.FirstRow.sourceContainer",
								"type": "Expression"
							},
							"sourceDirectory": {
								"value": "@activity('Lookup_parameter').output.FirstRow.sourceDirectory",
								"type": "Expression"
							},
							"sourceFileName": {
								"value": "@activity('Lookup_parameter').output.FirstRow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "targetdataset",
						"type": "DatasetReference",
						"parameters": {
							"destContainer": {
								"value": "@activity('Lookup_parameter').output.FirstRow.destContainer",
								"type": "Expression"
							},
							"destDirectory": {
								"value": "@activity('Lookup_parameter').output.FirstRow.destDirectory",
								"type": "Expression"
							},
							"destFileName": {
								"value": "@activity('Lookup_parameter').output.FirstRow.destFileName",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": []
	}
}