adf/pipeline/pp186053_adf_lookup_demo3.json
{
	"name": "pp186053_adf_lookup_demo3",
	"properties": {
		"activities": [
			{
				"name": "pp186053_copy_demo3",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "pp186053_lookup_demo3_src",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "pp186053_source_demo3_parameter",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": {
								"value": "@activity('pp186053_lookup_demo3_src').output.FirstRow.sourceContainer",
								"type": "Expression"
							},
							"DirectoryName": {
								"value": "@activity('pp186053_lookup_demo3_src').output.FirstRow.sourceDirectory",
								"type": "Expression"
							},
							"FileName": {
								"value": "@activity('pp186053_lookup_demo3_src').output.FirstRow.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "pp186053_sink_demo3_parquet",
						"type": "DatasetReference",
						"parameters": {
							"SinkContainer": {
								"value": "@activity('pp186053_lookup_demo3_src').output.FirstRow.destContainer",
								"type": "Expression"
							},
							"SinkDirectory": {
								"value": "@activity('pp186053_lookup_demo3_src').output.FirstRow.destDirectory",
								"type": "Expression"
							},
							"SinkFileName": {
								"value": "@activity('pp186053_lookup_demo3_src').output.FirstRow.destFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "pp186053_lookup_demo3_src",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}