adf/pipeline/prac2.json
{
	"name": "prac2",
	"properties": {
		"activities": [
			{
				"name": "GetParameterFromFIle",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Param",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "vSrcDirectory",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetParameterFromFIle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourceDirectory",
					"value": {
						"value": "@activity('GetParameterFromFIle').output.firstRow.variables('sourceDirectory')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"sourceDirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Demo/Practice"
		},
		"annotations": []
	}
}