adf/pipeline/RR186012_PI_ParametersRead_Foreach.json
{
	"name": "RR186012_PI_ParametersRead_Foreach",
	"properties": {
		"activities": [
			{
				"name": "LookupParameterFile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "RR186012_DS_Config_ParamJSON",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupParameterFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupParameterFile').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RR186012_DS_ParamDemoSrc",
									"type": "DatasetReference",
									"parameters": {
										"sourceContainer": {
											"value": "@item().sourceContainer",
											"type": "Expression"
										},
										"sourceDirectory": {
											"value": "@item().sourceDirectory",
											"type": "Expression"
										},
										"sourceFileName": {
											"value": "@item().sourceFileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "RR186012_ParmDemoSink_Parq",
									"type": "DatasetReference",
									"parameters": {
										"destContainer": {
											"value": "@item().destContainer",
											"type": "Expression"
										},
										"destDirectory": {
											"value": "@item().destDirectory",
											"type": "Expression"
										},
										"destFileName": {
											"value": "@item().destFileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}