adf/pipeline/sp186080_Demo.json
{
	"name": "sp186080_Demo",
	"properties": {
		"activities": [
			{
				"name": "Inbound_Input",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Demo_Param",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Indian_food",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Input_Indian_food",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delta_load_nb",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Inbound_Input",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/sp186080/sp186080_demo"
				},
				"linkedServiceName": {
					"referenceName": "adb_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Demo_Param",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Demo_paramset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Failure_Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delta_load_nb",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email_App",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "@activity('Demo_Param').output.firstRow.email_dl",
						"Subject": "@concat(pipeline().Pipeline,' - Failure')",
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Message": "@activity('Demo_Param').output.firstRow.failure_email",
						"notification_app_lnk": "@activity('Demo_Param').output.firstRow.notification_app_lnk"
					}
				}
			},
			{
				"name": "Success_Mail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delta_load_nb",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email_App",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": {
							"value": "@activity('Demo_Param').output.firstRow.email_dl",
							"type": "Expression"
						},
						"Subject": {
							"value": "@concat(pipeline().Pipeline,' - Success')",
							"type": "Expression"
						},
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Message": {
							"value": "@activity('Demo_Param').output.firstRow.success_email",
							"type": "Expression"
						},
						"notification_app_lnk": {
							"value": "@activity('Demo_Param').output.firstRow.notification_app_lnk",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}