adf/pipeline/SS186016_DATA_FLOW_INTEGRATED.json
{
	"name": "SS186016_DATA_FLOW_INTEGRATED",
	"properties": {
		"activities": [
			{
				"name": "Extracting CSV FileName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CSV_File_Name",
					"value": {
						"value": "@substring(pipeline().parameters.File_Name,0,lastindexof(pipeline().parameters.File_Name,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Extracting CTL FileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Extracting CSV FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name",
					"value": {
						"value": "@concat(substring(pipeline().parameters.File_Name,0,lastindexof(variables('CSV_File_Name'),'.')),'.ctl')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"File_Name": {
				"type": "string",
				"defaultValue": "abc.csv.gz"
			},
			"Container_Name": {
				"type": "string"
			},
			"Input_Directory": {
				"type": "string"
			},
			"Inbound_Directory": {
				"type": "string"
			}
		},
		"variables": {
			"CSV_File_Name": {
				"type": "String"
			},
			"CTL_File_Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}