adf/pipeline/TriggerADB.json
{
	"name": "TriggerADB",
	"properties": {
		"activities": [
			{
				"name": "SetFilePattern",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataFileName",
					"value": {
						"value": "@concat(pipeline().parameters.FileName,'*.dat')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "SetFilePattern",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetDataFileName",
						"type": "DatasetReference",
						"parameters": {
							"DatafilePattern": {
								"value": "@variables('DataFileName')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "TKTREV"
			},
			"EmailTo": {
				"type": "string",
				"defaultValue": "Jayadeep.Patil@teradata.com"
			},
			"Activity": {
				"type": "string",
				"defaultValue": "Load File"
			},
			"ErrorMessage": {
				"type": "string",
				"defaultValue": "File Not Found"
			}
		},
		"variables": {
			"DataFileName": {
				"type": "String"
			},
			"ADBValueCheck": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Take2"
		},
		"annotations": []
	}
}