adf/pipeline/TriggerADB.json
{
	"name": "TriggerADB",
	"properties": {
		"activities": [
			{
				"name": "SetFileName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DataFileName",
					"value": {
						"value": "@pipeline().parameters.FileName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FileCheck",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Lkp_File",
						"type": "DatasetReference",
						"parameters": {
							"File_Name": {
								"value": "@variables('DataFileName')",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "TKTREV_20201022.dat"
			},
			"EmailTo": {
				"type": "string",
				"defaultValue": "Jayadeep.Patil@teradata.com"
			},
			"Activity": {
				"type": "string",
				"defaultValue": "Load File"
			},
			"ErrorMessage": {
				"type": "string",
				"defaultValue": "File Not Found"
			}
		},
		"variables": {
			"DataFileName": {
				"type": "String"
			},
			"ADBValueCheck": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Take2"
		},
		"annotations": []
	}
}