adf/pipeline/vb186006_adf_FileValidationAndProcessing.json
{
	"name": "vb186006_adf_FileValidationAndProcessing",
	"properties": {
		"activities": [
			{
				"name": "Extractiing CSV File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CSV_File_Name",
					"value": {
						"value": "@substring(pipeline().parameters.File_Name,0,lastindexof(pipeline().parameters.File_Name,'.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Extracting CTL file name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Extractiing CSV File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CTL_File_Name",
					"value": {
						"value": "@concat(substring(variables('CSV_File_Name'),0,lastindexof(variables('CSV_File_Name'),'.')),'.ctl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_For_File",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Extracting CTL file name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Lookup_SrcFile_ds",
						"type": "DatasetReference",
						"parameters": {
							"CTL_File_Name": {
								"value": "@variables('CTL_File_Name')",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"File_Name": {
				"type": "string",
				"defaultValue": "abc.csv.gz"
			},
			"Container_Name": {
				"type": "string"
			},
			"Input_Directory": {
				"type": "string"
			},
			"Inbound_Directory": {
				"type": "string"
			}
		},
		"variables": {
			"CSV_File_Name": {
				"type": "String"
			},
			"CTL_File_Name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}